/*------- index_pg_sec_1_css start -------*/
.index_sec_1_container {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  grid-gap: 3rem 1rem;
  grid-template-areas:
    "a1 a2 a3"
    "a1 a2 a3"
    "a1 a4 a4";
}

.index_sec_1_container .grid_item:nth-of-type(1) {
  grid-area: a1;
}

.index_sec_1_container .grid_item:nth-of-type(2) {
  grid-area: a2;
}

.index_sec_1_container .grid_item:nth-of-type(3) {
  grid-area: a3;
}

.index_sec_1_container .grid_item:nth-of-type(4) {
  grid-area: a4;
}

.index_sec_1 .grid_item .inner_content {
  gap: 0.3rem;
  padding: 1rem 0.875rem;
  border: 1px solid var(--border_grey_clr);
  justify-content: center;
}
.index_sec_1 .grid_item .inner_content a:nth-of-type(1) {
  width: fit-content;
  background: var(--primary_heading_clr);
  padding: 0.3rem;
  font-weight: 600;
  color: var(--white_txt_bg_clr);
}
.index_sec_1 .grid_item a {
  width: 100%;
}
.index_sec_1 .grid_item a img {
  height: 100%;
  width: auto;
}
.index_sec_1 .grid_item .inner_content a:nth-of-type(2) {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: var(--oswald_font-family);
  color: var(--secondary_head_clr);
}
.index_sec_1 .grid_item:nth-of-type(2) .inner_content a:nth-of-type(2),
.index_sec_1 .grid_item:nth-of-type(3) .inner_content a:nth-of-type(2),
.index_sec_1 .grid_item:nth-of-type(4) .inner_content a:nth-of-type(2) {
  font-size: 1.25rem;
}
.index_sec_1 .grid_item:nth-of-type(4) .inner_content {
  width: -webkit-fill-available;
}
.index_sec_1 .grid_item:not(:nth-of-type(4)) .inner_content {
  margin-top: -0.3rem;
}
.index_sec_1 .grid_item:nth-of-type(4) a > img {
  max-width: 348px;
  width: 100%;
}
.index_sec_1 .grid_item:hover .inner_content a:nth-of-type(2) {
  color: var(--primary_heading_clr);
}
/*------- index_pg_sec_1_css end -------*/

/*------- index_pg_sec_2_css start -------*/
.index_sec_2 .index_sec_2_container {
  gap: 3rem;
}
.index_sec_2 .categ_wrapper {
  justify-content: space-between;
  gap: 1rem;
}
.index_sec_2 .inner_feature_post {
  position: relative;
}
.index_sec_2 .inner_feature_post .inner_txt {
  background-color: var(--solid_white_clr);
  padding: 1.22rem 2rem;
  width: max-content;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0px, -30px);
}
.index_sec_2 .inner_feature_post .inner_txt a {
  color: var(--secondary_head_clr);
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--oswald_font-family);
}
.index_sec_2 .inner_feature_post:hover .inner_txt a {
  color: var(--primary_heading_clr);
}
/*------- index_pg_sec_2_css end -------*/

/* Mobile_responsiveness start */
@media screen and (max-width: 480px) {
  .index_sec_1_container {
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    grid-gap: 3rem 1rem;
    grid-template-areas:
      "a1 a1 a1"
      "a2 a2 a2"
      "a3 a3 a3"
      "a4 a4 a4";
  }
  .index_sec_1 .grid_item a img {
    width: 100% !important;
  }
  .index_sec_1 .grid_item:nth-of-type(4) a > img {
    max-width: 100%;
  }
  .index_sec_1_container .grid_item:nth-of-type(4) {
    flex-direction: column;
  }
  .index_sec_2 .categ_wrapper {
    flex-direction: column;
    gap: 1.8rem;
  }
  .index_sec_2 .inner_feature_post .img_1 > a {
    width: 100%;
  }
 
}
